<h1>List of All Tags</h1>

<ul>
  <% @tag.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %></br>
      <% if logged_in? %>
        <%= link_to "delete", tag_path(@tag), method: :delete, data: {confirm: 
"Really delete the article?"} %>
      <% end %>
    </li>
  <% end %>
</ul>